@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: aqua;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stolen {
  background-color: brown;
  text-align: center;
  padding: 30px;
}

section {
  background-color: bisque;
  display: flex;
  padding: 0 50px;
}

#text {
  padding: 30px;
  width: 80%;
}

#text p {
  font-size: 20px;
}

#text p {
  padding: 10px 0 20px 0;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.diamond {
  background-color: #fff;
  border: 5px solid lightblue;
  margin-bottom: 20px;
}

.diamond p {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}

.images {
  width: 300px;
  height: 300px;
}
